.container {
    height: 100px;
    background-color: #ba2541;
    box-sizing: border-box;
    padding: 20px;
}
.header {
    color: white;
    margin-top: 10px;
    font-family: 'Baskervville', serif;
}